<table class="table">
    <tbody>
      <% @orders&.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.email %></td>
        <td><%= order.address %></td>
        <td><%= order.zip %></td>
        <td><%= order.orders %></td>
        <td><%= order.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
